<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="path/to/bootstrap.css"> <!-- Include Bootstrap CSS -->
</head>
<body>
  <div class="container">
    <%- include('message') %>
    <form action="/forgot" method="post">
      <% if (error) { %>
        <h5>Guest User, you don't have an account created with us 🥲</h5>
        <p>Please Sign-Up using the link below:</p>
        <div class="d-grid gap-2 col-10 mx-auto">
          <a href="/"><button class="btn btn-primary" type="button">Sign-In with Google</button></a>
        </div>
      <% } else { %>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
      <% } %>
    </form>
  </div>

  <script src="path/to/bootstrap.bundle.js"></script> <!-- Include Bootstrap JS for dismissible alerts -->
</body>
</html>
